html,
body {
  padding: 0;
  margin: 0;
  user-select: none;
}
body {
  background: url(img/sky.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 18pt;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* 
.moon-container {
  animation: roll 60s linear Infinite;
} */

img.moon {
  filter: sepia(1);
  transition: all 0.2s ease-out;
  max-width: 30vw;
  cursor: pointer;
}

img.moon:active {
  filter: drop-shadow(0 0 10em orange) sepia(1);
}

.disabled {
  color: red;
  pointer-events: none;
}

.d-flex {
  display: flex;
}

.justify-content-around {
  justify-content: space-around;
}

@keyframes roll {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
